/* Define Regular weight */
@font-face {
    font-family: 'Red Hat Display';
    src: url('../assets/fonts/RedHatDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Define Black weight */
@font-face {
    font-family: 'Red Hat Display';
    src: url('../assets/fonts/RedHatDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family:'Red Hat Display', sans-serif;
    margin-top: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #000; /* Dark background */
    color: #fff; /* White text */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Limit the container's width for responsiveness */
    padding: 0 48px;
    box-sizing: border-box;
}

.logo {
    width: 334px;
    height: 117px;
    flex-shrink: 0;
    background-image: url(media/headerLogo.png);
}

.footer-img {
        width: 267px;
        height: 53px;
        flex-shrink: 0;
        background-image: url(media/footer.png);
}

.content-input {
    text-align: center;
    width: 100%;
    margin-top: 162px;
}

.content-textarea {
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

h1 {
    color: #ffffff;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: left;
}

h2 {
    color: #ffffff;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

h1 span {
    color: #FFD700; /* Yellow for emphasis */
}

p{
    margin: 0px;
    font-size: 12px;
}

.text-input-group {
    margin-bottom: 20px;
}

.text-area-group {
    margin-bottom:20px;
    margin-top:20px;
}

.text-input-group input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* White background for input */
    color: #434043;
    box-sizing: border-box;
}

.text-area-group textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* White background for input */
    color: #434043;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.text-area-group textarea::placeholder{
    font-family: Montserrat, sans-serif;
    color: #b2b0b0;
    font-size:14px;
}

.text-input-group input::placeholder {
    font-family: Montserrat, sans-serif;
    color: #b2b0b0; /* Grey placeholder text */
}

.buttons {
    margin-top: 20px;
}

button.primary {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #434043; /* Dark grey button */
    color: white; /* White text */
    cursor: pointer;
}

button.primary:hover {
    background-color: #555; /* Slightly lighter on hover */
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.footer-content img {
    margin-bottom: 5px;
}

.footer-line {
    width: 100%;
    height: 10px; /* Height for the yellow line */
    background-color: #FFD700; /* Yellow line */
}

#exit{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom:24px;
}

/* big screen styles */
h3 {
    color: #ffffff;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 7em;
    text-align: center;
    max-width: 1300px;
    height: 950px;
    align-content: center;
}

h3 span {
    color: #FFD700; /* Yellow for emphasis */
}

.container-bigscreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 48px;
    box-sizing: border-box;
}

.logo-bs {
    width: 198px;
    height: 69px;
    flex-shrink: 0;
    background-image: url(media/headerLogo.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.footer-img-bs {
    width: 267px;
    height: 53px;
    flex-shrink: 0;
    background-image: url('media/footer.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.footer-bs {
    display: flex;
    flex-direction: row;
    padding: 32px 48px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid var(--McCain-Yellow, #FEE000);
}

.no-margin {
    margin: 0px;
}


/* Responsive adjustments */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    .logo img {
        height: 6em;
    }
}