body {
    font-family:'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000; /* Dark background */
    color: #fff; /* White text */
}

.content {
    text-align: center;
    width: 90%;
    max-width: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10em;
}

.logo img {
    width: 250px; /* Adjusted size for better visibility */
    margin-top: 30px;
    height: 8em;
}

h1 {
    color: #ffffff;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h1 span {
    color: #FFD700; /* Yellow for emphasis */
}

.text-input-group {
    margin-bottom: 20px;
}

.text-input-group input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* White background for input */
    color: #434043;
    box-sizing: border-box;
}

.text-input-group input::placeholder {
    color: #999; /* Grey placeholder text */
}

.buttons {
    margin-top: 20px;
}

button.primary {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #434043; /* Dark grey button */
    color: white; /* White text */
    cursor: pointer;
}

button.primary:hover {
    background-color: #555; /* Slightly lighter on hover */
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer-content img {
    margin-bottom: 5px;
}

footer p span {
    color: #FFD700; /* Yellow for emphasis */
}

.footer-line {
    width: 100%;
    height: 15px; /* Height for the yellow line */
    bottom: 0px;
    background-color: #FFD700; /* Yellow line */
}
